*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

#main-header {
  background-color: #244e67;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  z-index: 3;
}

#main-header.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#main-header.transparent {
  background-color: transparent;
}

.header-logo {
  height: 100%;
  z-index: 9;
}

.header-logo img {
  height: 100%;
}

.header-menu-btn {
  color: #e3b08c;
  cursor: pointer;
  z-index: 9;
}

.header-menu-btn i.fa-times {
  font-size: 2.5rem;
}

.header-nav {
  display: none;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.header-nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-nav-item {
  padding: 0 1rem;
}

.header-nav .header-nav-link {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header-nav .header-nav-link.current {
  color: #e3b08c;
}

.header-nav .header-nav-link:hover {
  color: #e3b08c;
}

.header-nav.open {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
}

.header-nav.open ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav.open .header-nav-item {
  background-color: #244e67;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  margin: 10px 0;
}

.header-nav.open .header-nav-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  letter-spacing: 1px;
}

#main-footer {
  min-height: 140px;
  padding: 1rem 1rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e3b08c;
  border-top: 1px solid white;
}

.footer-nav-item {
  margin-bottom: 1rem;
}

.footer-nav-link {
  color: #244e67;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-bottom: 2px;
  border-left: 1px solid #244e67;
  border-bottom: 1px solid #244e67;
}

.footer-nav-link:hover {
  color: white;
}

.social-nav {
  padding-right: 1rem;
}

.social-nav-item {
  padding-bottom: 0.8rem;
  text-align: center;
}

.social-nav-link {
  color: #244e67;
  font-size: 1.5rem;
}

.social-nav-link:hover {
  color: white;
}

.footer-logo {
  overflow: hidden;
}

.footer-logo img {
  width: 100%;
  max-width: 300px;
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7rem;
  padding: 5px;
  color: #333333;
  text-align: center;
}

#author {
  color: #244e67;
  cursor: pointer;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  #copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #copyright p {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  #main-footer {
    padding: 2rem 4rem;
  }
  #main-footer .footer-nav ul,
  #main-footer .social-nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

#home {
  background-color: #e3b08c;
}

#home .showcase {
  width: 100%;
  height: 100vh;
}

#home .showcase .arrow {
  color: #e3b08c;
  position: absolute;
  top: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
}

#home .showcase .left-arrow {
  left: 5px;
}

#home .showcase .right-arrow {
  right: 5px;
}

#home .showcase .container {
  width: 100%;
  height: 100%;
}

#home .showcase .container .showcase-img {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

#home .showcase .container .showcase-img.active {
  opacity: 1;
}

#home .showcase .container .showcase-img:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_1881.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_1881.jpg) center center no-repeat;
  background-size: cover;
}

#home .showcase .container .showcase-img:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_7472.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_7472.jpg) center center no-repeat;
  background-size: cover;
}

#home .showcase .container .showcase-img:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_8845.JPG) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_8845.JPG) center center no-repeat;
  background-size: cover;
}

#home .showcase .container .showcase-img:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_9083.JPG) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_9083.JPG) center center no-repeat;
  background-size: cover;
}

#home .showcase .container .showcase-img:nth-of-type(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_9609.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_9609.jpg) center center no-repeat;
  background-size: cover;
}

#home .showcase .container .showcase-img:nth-of-type(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_9827.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_9827.jpg) center center no-repeat;
  background-size: cover;
}

#home .welcome {
  width: 100%;
  position: relative;
  background-color: #e3b08c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #244e67;
  font-size: 2rem;
}

#home .welcome .honeycomb {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../imgs/honeycomb.png);
  background-repeat: no-repeat;
  background-size: 50px;
}

#home .welcome .honeycomb1 {
  top: 5px;
  left: 5px;
}

#home .welcome .honeycomb2 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 5px;
  right: 5px;
}

#home .welcome div {
  width: 80%;
  padding: 2rem 0 4rem;
}

#home .welcome div h2 {
  padding: 1rem;
  font-weight: 100;
}

#home .welcome div h6 {
  font-weight: 100;
}

#home .welcome img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .welcome p {
  font-size: 1.1rem;
}

#home .about {
  background-color: #fff;
}

#home .about div {
  height: 400px;
  background: url(../imgs/DSC04946.jpg) center center no-repeat;
  background-size: cover;
  padding: 1rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .about div h2 {
  font-weight: 100;
  color: #e3b08c;
  font-style: italic;
}

#home .about div h2 span {
  font-size: 3rem;
}

#home .about p {
  padding: 2rem;
  line-height: 1.5;
}

#home .about .about-link {
  background-color: #244e67;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 5px;
}

#home .about .about-link:hover {
  color: #e3b08c;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

#home .about .about-link i {
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
}

#home .services {
  background-color: #fff;
}

#home .services p {
  padding: 2rem;
  line-height: 1.5;
}

#home .services .services-link {
  background-color: #e3b08c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 5px;
}

#home .services .services-link:hover {
  color: #244e67;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

#home .services .services-link i {
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
}

#home .gallery {
  background-color: #fff;
  padding-bottom: 1rem;
}

#home .gallery h3 {
  padding: 2rem;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  font-weight: 100;
  color: #333333;
}

#home .gallery .container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #244e67;
  padding: 5px;
}

#home .gallery .container img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #244e67;
}

#home .gallery .gallery-link {
  background-color: #e3b08c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

#home .gallery .gallery-link:hover {
  color: #244e67;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

#home .gallery .gallery-link i {
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
}

#home .contact {
  background-color: #fff;
  text-align: center;
  position: relative;
}

#home .contact video {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#home .contact div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#home .contact div p {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#home .contact div a {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #e3b08c;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #e3b08c;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

#home .contact div a:hover {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #home .welcome img {
    width: 50%;
  }
  #home .welcome .honeycomb {
    width: 100px;
    height: 100px;
    background-size: 100px;
  }
  #home .about {
    padding: 1rem 4rem 0;
  }
  #home .about div {
    width: 400px;
    margin: 0 auto;
  }
  #home .about .about-link {
    width: 50%;
    margin: 0 auto;
  }
  #home .services {
    padding: 1rem 4rem 0;
  }
  #home .services .services-link {
    width: 50%;
    margin: 0 auto;
  }
  #home .gallery .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #home .gallery .gallery-link {
    width: 60%;
    margin: 2rem auto;
  }
  #home .contact div p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

#about .about-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_7469.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_7469.jpg) center center no-repeat;
  background-size: cover;
}

#about .about {
  padding: 2rem;
  background-color: bisque;
}

#about .about p {
  padding: 10px 0;
  line-height: 1.5;
}

#services .services-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs//0707FB03-43BA-4D37-8B18-0D872558D8E9.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs//0707FB03-43BA-4D37-8B18-0D872558D8E9.jpg) center center no-repeat;
  background-size: cover;
}

#services .services {
  background-color: #e3b08c;
}

#services .services .container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

#services .services .container img {
  width: 40px;
  position: relative;
  top: 15px;
}

#services .services .container p {
  padding: 0 2rem;
  line-height: 1.5;
}

#services .services .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  padding-bottom: 60px;
}

#services .services .card-container .card {
  border-radius: 5px;
  margin: 2rem 0;
  background-color: white;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(75, 75, 75, 0.743);
          box-shadow: 1px 1px 8px 1px rgba(75, 75, 75, 0.743);
}

#services .services .card-container .card-title {
  text-align: center;
  padding: 1rem;
  color: #244e67;
}

#services .services .card-container .card-info {
  height: 400px;
  position: relative;
  overflow: hidden;
}

#services .services .card-container .card-info .details,
#services .services .card-container .card-info .pricing {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#services .services .card-container .card-info .details h4,
#services .services .card-container .card-info .pricing h4 {
  padding: 1rem;
  font-size: 2rem;
}

#services .services .card-container .card-info .details li,
#services .services .card-container .card-info .pricing li {
  padding: 10px;
  border-radius: 20px;
  margin: 1rem 0;
  background-color: #244e67;
  line-height: 1.3;
}

#services .services .card-container .card-btns {
  text-align: center;
  padding: 1rem;
}

#services .services .card-container .card-btns .btn {
  padding: 1rem;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #244e67;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

#services .services .card-container .card-btns .btn:hover {
  background-color: #e3b08c;
}

#services .services .card-container .card1 .card-info {
  background: url(../imgs/IMG_8788.jpg) center center no-repeat;
  background-size: cover;
}

#services .services .card-container .card2 .card-info {
  background: url(../imgs/IMG_0150.jpg) top center no-repeat;
  background-size: cover;
}

#services .services .card-container .card3 .card-info {
  background: url(../imgs/IMG_2420.jpg) center center no-repeat;
  background-size: cover;
}

#services .services .card-container .card4 .card-info {
  background: url(../imgs/IMG_2103.jpg) center center no-repeat;
  background-size: cover;
}

#services .services .card-container .card5 .card-info {
  background: url(../imgs/IMG_8875.jpg) top center no-repeat;
  background-size: cover;
}

#services .services .card-container .card6 .card-info {
  background: url(../imgs/IMG_9609.jpg) center center no-repeat;
  background-size: cover;
}

#services .services .slide-down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  #services .services .container {
    width: 60%;
  }
  #services .services .card-container {
    padding: 2rem 6rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #services .services .card-container {
    gap: 2rem;
    padding: 2rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#contact .contact-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_2420.JPG) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_2420.JPG) center center no-repeat;
  background-size: cover;
}

#contact .container {
  padding: 1rem;
}

#contact .container p {
  line-height: 1.5;
  padding: 10px 0;
}

#contact .container ul {
  padding-left: 20px;
}

#contact .container ul li {
  padding: 5px 0;
}

#contact .form-container {
  background-color: #e3b08c;
  margin: 1rem;
  border-radius: 5px;
  padding-bottom: 1rem;
}

#contact .form-container .form-header {
  padding: 1rem;
  text-align: center;
}

#contact .form-container .form-header h3 {
  color: #244e67;
  font-size: 1.8rem;
}

#contact .form-container .form-header p {
  padding-top: 5px;
  font-size: 0.8rem;
  color: #333333;
}

#contact .form-container .contact-form {
  padding: 0 2rem;
}

#contact .form-container .input-container {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  margin: 10px 0;
}

#contact .form-container .input-container label {
  color: #244e67;
}

#contact .form-container .input-container input {
  width: 100%;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #244e67;
  text-align: center;
  padding: 1px 5px;
}

#contact .form-container .input-container select {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #244e67;
  border-radius: 2px;
  background-color: #fff;
  color: #244e67;
}

#contact .form-container .input-container textarea {
  width: 100%;
  min-height: 60px;
  margin-top: 10px;
  border: 1px solid #244e67;
  border-radius: 2px;
  padding: 5px;
  color: #244e67;
}

#contact .form-container .form-submit {
  display: block;
  padding: 15px 30px;
  margin: 1rem auto 0;
  border: 1px solid #244e67;
  border-radius: 15px;
  color: #244e67;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

#contact .form-container .form-submit:hover {
  background-color: #244e67;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  #contact .contact .container {
    width: 80%;
    margin: 0 auto;
  }
  #contact .contact .form-container {
    width: 60%;
    margin: 1rem auto;
  }
}

#gallery .gallery-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url(../imgs/IMG_9609.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../imgs/IMG_9609.jpg) center center no-repeat;
  background-size: cover;
}

#gallery .gallery header {
  padding: 1rem;
  background-color: #e3b08c;
  color: #fff;
  text-align: center;
}

#gallery .gallery header h3 {
  font-size: 3rem;
}

#gallery .gallery header h4 {
  background-color: #244e67;
  border-radius: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
}

#gallery .gallery header h4 i {
  padding: 1rem;
  cursor: pointer;
}

#gallery .gallery header h4 i:nth-of-type(2) {
  width: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#gallery .gallery header h4 i.active {
  color: #e3b08c;
}

#gallery .gallery .gallery-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#gallery .gallery .gallery-container img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  #services .card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
  .header-menu-btn {
    display: none;
  }
}

body {
  width: 100vw;
}

.page-header {
  height: 100vh;
}

.page-header div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header div h2 {
  color: #e3b08c;
  font-size: 4rem;
  font-weight: 100;
}
/*# sourceMappingURL=main.css.map */