@import "./variables", "./resets";

body {
  background-color: aqua;
}

p {
  background: $background-color;
  color: $text-color;
  font-weight: map-get($font-weights, bold);
}

.main {
  margin: 0;

  #{&}-header {
    padding: 0;

    &:hover {
      color: red;
    }
  }
}
// functions should compute values and return values
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
// mixins should define styles
@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

div {
  @include flexCenter(column);
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($background-color, 100%);
    color: darken($text-color, 100%);
  }
}

.light {
  @include theme($light-theme: true);
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

div {
  font-size: 2rem;

  @include mobile() {
    font-size: 0.5rem;
  }
}

.paragraph1 {
  color: red;
}

.paragraph2 {
  @extend .paragraph1;

  &:hover {
    color: orange;
  }
}
